# === SWIFT ===
.build/
*.o
*.d
*.swp

# === UNIVERSAL ===
.DS_Store
report_*.txt
_temp*.?*
OTHER_REPOS/ 
# === LOCAL ===
# Template-only ignores.
# === PYTHON ===
build/
dist/
sdist/
*.egg
*.egg-info/
site/

