# === UNIVERSAL ===
.DS_Store
report_*.txt
_temp*.?*
# === LOCAL ===
# Template-only ignores.
# === PYTHON ===
build/
dist/
sdist/
*.egg
*.egg-info/
site/

# === RUST ===
/target/
**/target/
**/*.rs.bk
.rust_analyzer/
